# See https://help.github.com/ignore-files/ for more about ignoring files.

# JDE
.idea/
# dependencies
/node_modules
/react-ui/node_modules

# files uploaded
/react-server/uploads

# testing
/coverage
/react-ui/coverage

# production
/build
/react-ui/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/react-ui/.DS_Store
/react-ui/.env.local
/react-ui/.env.development.local
/react-ui/.env.test.local
/react-ui/.env.production.local

/react-ui/npm-debug.log*
/react-ui/yarn-debug.log*
/react-ui/yarn-error.log*
