@value skew-value -20deg;

.QRView {
	position: relative;
	text-align: center;
}

.QRView-background {
	width: 90vw;
	position: absolute;
	left: 50%;
	-webkit-transform: skewY(skew-value);
	-moz-transform: skewY(skew-value);
	-ms-transform: skewY(skew-value);
	-o-transform: skewY(skew-value);
	transform: skewY(skew-value) translateX(-50%);
	background-color: #F5AC34;
	padding: 12vh 8px 12vh 8px;
}