@value color #85CAD7;


.SignIn {
	width: 100%;
	text-align: center;
	/*height: 100%;*/
	/*background-color: color;*/

}

.SignIn button {
	margin: 0 auto;
}

.SignIn > form {
	display: block;
	/*position: absolute;*/
	width: 70vw;
	margin: 0 auto;
	/*text-align: center;*/
	/*left: 50%;*/
	/*top: 50%;*/
	/*transform: translate(-50%, -50%);*/
}

.SignIn-ForgotPassword {
	color: #aaaaaa;
	font-size: 0.5em;
	text-align: end;
	margin-top: 0;
}