.Carousel {
	position: relative;
	overflow: hidden;
	width: 90vw;
	margin: 0 auto;
}

.Carousel-images {
	width: 100%;
	height: 30vh;
	display: flex;
	flex-direction: row;
}

.CarouselImage {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	flex: 0 0 100%;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: #dddddd;
}

.Carousel-dots {
	position: absolute;
	display: flex;
	flex-direction: row;
	bottom: 1vh;
	left: 50%;
	transform: translateX(-50%);
}

.Carousel-dots > li {
	width: 8px;
	height: 8px;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 50%;
	margin: 0 8px;
}

.Carousel-dots > li:hover {
	background-color: black;
}